ion-toolbar {
  --background: #121212;
  --color: #1DB954;
}

ion-title {
  font-weight: bold;
}

ion-card {
  background: #181818;
  color: white;
}

ion-item {
  --background: #202020;
  color: white;
}

ion-label h2 {
  font-weight: bold;
  color: #1DB954;
}

ion-label p {
  font-size: 0.9em;
  color: #ccc;
}
