<ion-content class="ion-padding page-bg" fullscreen>

  <!-- LOGO -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Ring Town" class="logo" />
  </div>

  <!-- BARRA DE BÚSQUEDA -->
  <ion-searchbar
    [(ngModel)]="genero"
    (ionInput)="buscarPorGenero()"
    placeholder="Buscar por género..."
    class="custom-search"
    color="light">
  </ion-searchbar>

  <!-- LISTADO DE CANCIONES -->
  <ion-list class="song-list">
    <ion-item *ngFor="let cancion of canciones" lines="none">
      <ion-img [src]="cancion.portadaUrl" class="song-img" slot="start"></ion-img>
      <ion-label>
        <h2>{{ cancion.titulo }}</h2>
        <p>{{ cancion.artista }} | {{ cancion.genero }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
